body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 53, 53);
    font-family: Arial, sans-serif;
}
.card {
    padding: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(56, 69, 111);
    border-radius: 8px;
    border-color: aliceblue;
    width: 100%;
    max-width: 400px;
}

.judul {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 20px; 
}

.judul img {
    background: none;
    width: 20%;
    margin-right: 10px;
}

.judul h1 {
    font-size: 24px;
    color: #9fab47;
    margin: 0;
}
.signup-btn {
    margin-top: 15px;
}
.checkbox-label {
    font-size: 14px;
    margin-top: 10px;
}

.message-card {
    display: none; 
    margin-top: 20px;
    padding: 2px; 
    background-color: rgb(136, 138, 61);
    box-shadow: 4px 6px 8px 8px rgba(206, 223, 73, 0.2);
}

.message-card .card-body {
    
    background-color: black;
}